<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Media Collector - The mobile library application built to maintain and track your physical collection of DVD movies.">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Media-Collector">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Varela+Round">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="shortcut icon" href="/images/media.png">
  <title>Media Collector</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mediaCollectorNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
          <a href="/collection" id="brandName"><img src="/images/media.png" alt="media icon" width=25> <span class="brand">Media Collector</span></a>
        </div>
      </div>
      <div class="navbar-collapse collapse" id="mediaCollectorNavbar">
        <ul class="navbar-nav nav navbar-right">
        <%  if (!currentUser){ %>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Sign Up</a></li>
        <%  }else { %>
            <li><a href="/collection" class="">Home</a></li>
            <li><a href="/search" class=""> Movie Search</a></li>
            <li><a href="/collection/now_showing" class="">Now Showing</a></li>
            <li><a href="/watch_list/view" class=""> Watch List</a></li>
            <li><a href="/collection/settings/<%= currentUser._id %>">Settings</a></li>
            <li><a href="/users/logout">Log Out</a></li>
        <%  } %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="demo">
