<% include partials/header %>
  <div class="topSpace"></div>
    <div class="">
      <form class="" action="/newsearch" method="get">
        <div class="">
          <input id="srchInp"class="form-control"type="text" required name="search" placeholder="Enter A Movie Title..."><br>
          <input id="srchBtn"class="btn btn-default btn-block" value="Search For A Movie" type="submit">
        </div>
      <br><br>  <hr>
      </form>

      <% if (movie ) {%>
        <h1><%= movie.title %></h1>
      <%}%>
    </div>
<% include partials/footer %>
