<% include partials/header %>
<div id="index">
  <!-- <div class="topSpace"></div> -->
  <!-- <div style="color:white;font-family:Varela Round;font-weight:bold;background-color:black;border-radius:1em;padding: .25em;max-width:430px;margin:auto">
    <h1 class="text-center" style="text-shadow:1.5px 1.5px 1.5px #00B7FF;">Media Collector</h1>
    <p class="text-center" ><b style="border-bottom:1px solid #00B7FF;">Your Personal Movie Library</b></p>
 </div> -->
 <h1 style="color:white;font-family:Varela Round;text-shadow:1px 2px 2px #555;" class="text-center">Log In</h1>
  <div class="clapper">
    <ul>

    </ul>
    <div class="clapwrap container" style="">
      <ul class="row"style="background-color:black;">
        <div class="top col-xs-12 text-center">
          <li class="colorband"></li>
          <li class="colorband"></li>
          <li class="colorband"></li>
          <li class="colorband"></li>
          <li class="colorband"></li>
        </div>
     </ul>
       <form style="color:white;font-family:Varela Round;" id="logForm" action="/login" method="post">
         <h1 class="text-center" style="color:white;text-shadow:1.5px 1.5px 1.5px #00B7FF;">Media Collector</h1>
         <p class="text-center" ><b style="border-bottom:1px solid #00B7FF;">Your Personal Movie Library</b></p>
         <br>
         <input style=""type="text" required class="form-control"name="username" placeholder="User name">
         <input type="text" required class="form-control"name="password" placeholder="Password"><br>
         <input style="margin: auto 35px;"class="btn btn-primary" type="submit" value="Sign In">
         <a href="/auth/google" class="btn btn-danger">Login w/Google</a>
       </form>
    </div>
  </div>


</div>



<% include partials/footer %>
