<% include partials/header %>
<div id="index">
  <div id="landing">

  </div>
  <div class="topSpace"></div>





    <form id="logForm"class="" action="/login" method="post">
      <h4>Log In</h4>
      <input type="text" required class="form-control"name="username" placeholder="User name">
      <input type="text" required class="form-control"name="password" placeholder="Password"><br>
      <input class="btn btn-primary"type="submit" value="Sign In">
      <a href="/auth/google" class="btn btn-danger">Login w/Google</a>
    </form>

    <h1 class="text-center" style="color:white;font-family:Varela Round;font-weight:bold;background-color:black;border-radius:1em;padding: .25em;max-width:430px;margin:auto">Personal Media Library</h1>

</div>



<% include partials/footer %>
