<% include partials/header %>

<div class="logWrap">
  <div id="index">
    <div class="clapper">
      <div class="clapwrap container">
        <ul class="row" style="background-color:black;">
          <div class="top col-xs-12 text-center">
            <li class="colorband"></li>
            <li class="colorband"></li>
            <li class="colorband"></li>
            <li class="colorband"></li>
            <li class="colorband"></li>
          </div>
       </ul>
         <form style="color:white;font-family:Varela Round;" id="logForm" action="/login" method="post">
           <h1 class="text-center" style="color:white;text-shadow:1.5px 1.5px 1.5px #00B7FF;">Media Collector</h1>
           <p class="text-center" ><b style="border-bottom:1px solid #00B7FF;">Your Personal Movie Library</b></p>
           <br>
           <input style=""type="text" required class="form-control"name="username" placeholder="User name">
           <input type="text" required class="form-control"name="password" placeholder="Password"><br>
           <input style="display:inline;margin-right:50px;"class="btn btn-primary" type="submit" value="Log In">
           <a href="/register"  style="display:inline;"class="a btn btn-primary" >Join Now</a><br><br>
           <a href="/auth/google" class="a btn btn-primary">Login w/Google</a>
           <br>
           <br>
         </form>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
