/*
Grid Container
- Establishes the grid formatting context
- Manages how its direct child elems are spaced, sized, and aligned

Grid Items
- Direct child of Grid Container
- There can be any number of children

Grid Lines
- Horizontal position the rows
- Vertical position the colomns
*/

/*
GRID LAYOUT
*/

.grid {
  max-width: 1000px;
  display: grid;
    /*grid-template-columns: 20% auto 1fr 10px;*/
    /*grid-template-columns: 2fr 1fr 1fr 1fr;*/
  /*grid-template-columns: 2fr repeat(3, 1fr);*/
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 100px 200px;
  grid-gap: 15px;
}
