body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #e8e9e9;
}
#landing {
  width: 100%;
  height: 1000px;
  /*height: 100%;*/
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  background-image: url('/images/collection.jpg');
  background-size: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: -99;
}

a {
  color: #00B7FF;
}
h1, .h2, .brand {
  font-family: 'Varela Round', sans-serif;
}

.h2 {
  font-size: 38px;
}
hr {
border-bottom:1px solid #000;
}
.blue {
  color: #00B7FF;
}
.red {
  color: red;
}

ul{
  padding: 0;
}

#index {
  margin: 100px auto;
}

.flex-container {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-item {
  padding: 5px;
  margin: auto;
  text-align: center;
  list-style: none;
}

#home {
  /*background-image: url('/images/mediaback1.jpg');*/
}

.form-group input,
.form-group textarea {
  /*display: none;*/
  max-width: 500px;
}

/* EL SPACER */
.topSpace {
  margin-top:3em;
}

/* Login / Register Form */
#logForm, #regForm {
  border: 2px solid #000;
  background-color: #ddd;
  opacity: .88;
  padding: 25px;
  border-radius: 8px;
  max-width: 500px;
  text-align: center;
  margin: 40px auto 20px;
  z-index: 999;
  color:#000;
  font-weight: bold;
  font-size: 20px;
}

.modal {
  margin: 80px auto;
}
.card {
  max-height: 775px;
  box-shadow: 3px 3px 3px grey;
}
.board{
  box-shadow: 8px 8px 15px grey;
}

.board, .card {
  border: black 3px solid;
  padding: 10px 20px 30px;
  min-width: 310px;
  max-width: 800px;
  border-radius: 8px;
  margin: 25px auto;
  background: #fff;
}

.img-responsive {
  margin: 20px auto;
}

.border {
  border-top: 2px solid #000;
}
/* HOME PAGE EDIT / DELETE BTNS */
.forms-wrap #deleteBtnForm,
.forms-wrap #viewBtnForm,
.forms-wrap #editBtnForm {
  display: inline-block;
}

#addForm {
  padding-left: 8%;
  padding-right: 8%;
}

/* HOME PAGE STAR RATING STYLE */
.glyphicon-star {
  font-size: 20px;
  color: #e67e22;
  margin-left: 5px;
}

/* EDIT PAGE INPUT / TEXTAREA  */
#editForm input,
#editForm textarea {
  max-width: 700px;
  margin: 15px auto;

}
#editForm textarea {
  width: 500px;
  height: 150px;
  max-width: 700px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.8rem;
}
/* -----  Mobile View  ------- */
@media screen and (max-width: 520px) {

    body { /* JUST FOR TESTING */
        /*background-color: lightgreen;*/
    }
    #editForm textarea {
      width: 300px;
      height: 150px;
      max-width: 700px;

    }
}
