body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #e8e9e9;
}

a {
  color: #00B7FF;
}
h1, .h2, .brand {
  font-family: 'Varela Round', sans-serif;
}

.h2 {
  font-size: 38px;
}
hr {
border-bottom:1px solid #000;
}
.blue {
  color: #00B7FF;
}
.red {
  color: red;
}

#index {
  /*background-image: url('/images/mediaback2.jpg');*/
  background-size: cover;
  height: 800px;
}

#home {
  /*background-image: url('/images/mediaback1.jpg');*/
}

.form-group input,
.form-group textarea {
  /*display: none;*/
  max-width: 500px;
}

/* EL SPACER */
.topSpace {
  margin-top:3em;
}

/* Login / Register Form */
#logForm, #regForm {
  border: 2px solid #000;
  padding: 25px;
  border-radius: 8px;
  max-width: 500px;
  text-align: center;
  margin: 100px auto;
}

.modal {
  margin: 80px auto;
}
.card {
  max-height: 775px;
  box-shadow: 3px 3px 3px grey;
}
.board{
  box-shadow: 8px 8px 15px grey;
}

.board, .card {
  border: black 3px solid;
  padding: 10px 20px 30px;
  min-width: 310px;
  max-width: 800px;
  border-radius: 8px;
  margin: 25px auto;
  background: #fff;
}

.img-responsive {
  margin: 20px auto;
}

.border {
  border-top: 2px solid #000;
}
/* HOME PAGE EDIT / DELETE BTNS */
.forms-wrap #deleteBtnForm,
.forms-wrap #viewBtnForm,
.forms-wrap #editBtnForm {
  display: inline-block;
}

#addForm {
  padding-left: 8%;
  padding-right: 8%;
}

/* HOME PAGE STAR RATING STYLE */
.glyphicon-star {
  font-size: 20px;
  color: #e67e22;
  margin-left: 5px;
}

/* EDIT PAGE INPUT / TEXTAREA  */
#editForm input,
#editForm textarea {
  max-width: 700px;
  margin: 15px auto;

}
#editForm textarea {
  width: 500px;
  height: 150px;
  max-width: 700px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.8rem;
}
/* -----  Mobile View  ------- */
@media screen and (max-width: 520px) {

    body { /* JUST FOR TESTING */
        /*background-color: lightgreen;*/
    }
    #editForm textarea {
      width: 300px;
      height: 150px;
      max-width: 700px;

    }
}
